/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}
body {
  /* background-color: #93a3b5; */
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
}
.container-sm {
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
}
.container-md {
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
}
/* Small  */

/* header */
header {
  background-color: bisque;
  width: 100%;
  z-index: 2;
  position: relative;
}
.active {
  color: black;
}
nav {
  background-color: #93A3B5;
}
header .container {
  display: flex;
  align-items: center;
}
header .container .logo {
  max-width: 100px;
  min-width: 70px;
}
header .container .logo img {
  width: 100%;
}
header .ul-holder {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
header nav ul {
  display: flex;
}
header nav .icons {
  margin-left: 1rem;
}
header nav .icons i {
  font-size: 1.563rem;
}

@media (max-width: 620px) {
  header nav .nav-links {
    order: 3;
    flex-basis: 100%;
    position: absolute;
    top: 6.25rem;
    left: 50%;
    transform: translateX(-50%);
  }
  header nav .nav-links li a {
    min-width: 3.438rem;
  }
  header nav .icons {
    flex-basis: 50%;
  }
}
header nav ul li a {
  margin-left: 1.5rem;
  text-align: center;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  position: relative;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}
header nav ul li a:hover {
  color: black;
}
/* End Nav */
/* Start Landing */
.landing {
  height: 70vh;
  background-color: #93A3B5;
}
.landing .container-sm {
  height: inherit;
  position: relative;
}
.landing .landing-heading {
  width: 45%;
  color: white;
  position: absolute;
  top: 20%;
}
.landing .landing-heading  h2{
  font-size:3.125rem;
}
.landing .landing-heading p{
  font-size:0.875rem;
  line-height: 1.5;
  margin-bottom:1.875rem;
}
.landing .landing-heading a {
  color: white;
  padding: 0.625rem 1.563rem;
  background-color: #30373D;
}
.landing .items {
  display: flex;
  color: white;
  position: absolute;
  bottom: -20%;
}
.landing .items .item {
  background-color: #30373D;
  padding: 1.875rem 0.938rem 0.938rem;
  border-right: 0.125rem white solid;
}
.landing .items .item:last-of-type {
  border-right:none;
}
.landing .items .item h5{
  font-size: 1.25rem;
}
.landing .items .item p{
  font-size: 0.875rem;
  padding: 0.625rem 0 1.25rem;
  line-height: 1.5;
}
.landing .items .item a{
  color: white;
}
@media (max-width: 1100px){
  .landing .landing-heading {
    width: 60%;
  }
}
@media (max-width: 991px) {
  .landing .container-sm {
    width: 90vw;
  }
  .landing .items .item:nth-of-type(2) {
    display: none;
  }
}
@media (max-width: 635px) {
  .landing .container-sm {
    width: 90vw;
  }
  .landing .landing-heading {
    text-align: center;
    width: 100%;
  }
  .landing .items .item {
    display: none;
  }
  .landing .items .item:last-of-type {
    display: block;
  }
}
/* iphone 5s */
@media (max-width: 320px) {
  .landing .landing-heading {
    top:18%;
  }
  .landing .landing-heading h2 {
    font-size: 3rem;
  }
}
/* End Landing */
/* Start Products */
.products {
  padding: 9.375rem 0 3.125rem; 
  background-color: white;
}
.products .container {
  display: flex;
}
.products .container .first-half {
  flex-basis: 50% ;
}
.products .container .first-half .row {
  display: flex;
  width: 100% ;
  height: 18.75rem;
}
.products .container .first-half .row:first-of-type{
  padding-right: 1.25rem;
  padding-bottom: 1.25rem;
  position:relative;
}
.products .container .text-content {
  position: absolute;
  bottom: 1.375rem;
  padding: 1.25rem;
  color: white;
}
.products .container .text-content h4 {
 font-size: 1.563rem;
}
.products .container .text-content p {
 font-size: 1rem;
 padding: 0.5rem 0;
}
.products .container .text-content a {
  color: white;
}
.products .container .first-half .row .img-holder,
.products .container .first-half .row .img-holder img{
  position:relative;
  width: 100% ;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
}
.products .container .first-half .row .img-holder:first-of-type::after,
.products .container .second-half  .img-holder::after {
  content: "";
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
 }
.products .container .first-half .row .col {
  width: 50% ;
  padding-right: 1.25rem;
  position:relative;
}
.products .container .second-half {
  flex-basis: 50% ;
  display: flex;
}
.products .container .second-half .col {
  display: flex;
  flex-direction: column;
  width: 50% ;
  height: 37.5rem;
}
.products .container .second-half .col:first-of-type{
  padding-right: 1.25rem;
  position:relative;
}
.products .container .second-half .col .row:first-of-type{
  padding-bottom: 1.25rem;
  position:relative;
}
.products .container .second-half .col .row {
  display: flex;
  height: 18.75rem;
  position:relative;
}
.products .container .second-half  .img-holder,
.products .container .second-half  .img-holder img{
  position:relative;
  width: 100% ;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

@media (max-width: 991px) {
  .products .container .second-half {
    display: none;
  }
  .products .container .first-half {
    flex-basis: 100%;
  }
  .products .container .first-half .row:first-of-type ,
  .products .container .first-half .row .col:last-of-type {
    padding-right: 0 ;
  }
}
@media (max-width: 635px) {
  .products .container .first-half .row {
    flex-direction: column;
    height: auto;
  }
  .products .container .first-half .row .col:first-of-type {
    padding-bottom: 1.25rem;
    padding-right: 0;
  }
  .products .container .first-half .row .col {
    width: 100%;
  }
}
/* End Products */
/* Start Cards */
.cards{
  padding: 5rem 0;
  background-color: gainsboro;
}
.cards h2 {
  text-align: center;
  font-size: 2.25rem;
  padding-bottom: 2.5rem;
  color: #30373D;
}
.cards .cards-holder {
  display: flex;
}
.cards .cards-holder .card {
  padding: 0.938rem;
}
.cards .cards-holder .card .image-holder {
  width: 100%;
  height: 11.25rem;
}
.cards .cards-holder .card .image-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-bottom: 1.25rem;
}
.cards .cards-holder .card h5 {
  font-size: 1.125rem;
  font-weight: normal;
  color: #30373D;
}
.cards .cards-holder .card  span{
  font-size: 1.5625rem;
  font-weight: bold;
  color: #30373D;
}
.cards .cards-holder .card p{
  font-size: .875rem;
  line-height: 1.3;
  padding: .9375rem 0 1.25rem;
}
.cards .cards-holder .card a{
  font-size: .75rem;
  color: white;
  padding: .625rem 1.875rem;
  background-color: #30373D;
}
@media (max-width:991px) {
  .cards .cards-holder{
    flex-direction: column;
  }
  .cards .cards-holder .card {
    display: flex;

  }
  .cards .cards-holder .card .image-holder {
    flex-basis: 50%;
    height: 13.9375rem;
    padding-right: 1.25rem;
  }
  .cards .cards-holder .card .content {
    flex-basis: 50%;
    position: relative;
  }
  .cards .cards-holder .card:last-of-type {
    display: none;
  }
}
@media (max-width:635px) {
  .cards .cards-holder .card p {
    display: none;
  }
  .cards .cards-holder .card:last-of-type {
    display: none;
  }
  .cards .cards-holder .card .image-holder {
    height: 7.5rem;
  }
  .cards .cards-holder .card a {
    position: absolute;
    bottom: 1.25rem;
    left: 0;
  }
  
  
}
@media (max-width:460px)  {
  .cards .cards-holder .card h5 {
    font-size: .875rem;
  }
  .cards .cards-holder .card  span{
    font-size: 1rem;
  }
}
/* End Cards */
/* Start Contact Us */
.contact{
  padding: 3.75rem 0;
  color: white;
  background-color: #30373D;
}
.contact h2 {
  font-size: 2.25rem;
  padding-bottom: 1.25rem;
}
.contact .row {
  display: flex;
  flex-wrap: wrap;
}
.contact .row .col {
  flex-basis: 25%;
  padding-right: 1.25rem;
}
.contact .row .col:last-of-type{
  flex-basis: 50%;
  padding-right: 0px;
}
.contact .row .names input {
  margin: .3125rem 0 1.5625rem;
  width: 100%;
  padding: .625rem;
  border: none;
}
.contact .row .names input:last-of-type {
  margin: .3125rem 0 0;
}
.contact .row .options select {
  margin: .3125rem 0 1.5625rem;
  width: 100%;
  padding: .625rem;
  border: none;
}
.contact .row .options label:nth-of-type(3) {
  margin-right: 2.5rem;
}

.contact .row .options input {
  margin-top: .9375rem;
}

.contact .row .message {
  position: relative;
}
.contact .row .message textarea {
  margin: .3125rem 0 1.5625rem;
  width: 100%;
  padding: .625rem;
  border: none;
  resize: none;
}
.contact .row .message input {
  margin-right: .3125rem;
}
.contact .row .message a {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #30373D;
  padding: .625rem 1.875rem;
  background-color: white;
}
@media (max-width:1200px) {
  .contact .row .col {
    flex-basis: 50%;
  }
  .contact .row .col:last-of-type{
    flex-basis: 100%;
  }
  .contact .row .names input:last-of-type {
    margin: .3125rem 0 1.5625rem;
  }
}
@media (max-width:635px) {
  .contact .row .col {
    flex-basis: 100%;
    padding-right: 0;
  }
  .contact .row .col:last-of-type{
    flex-basis: 100%;
  }
  .contact .row .names input:last-of-type {
    margin: .3125rem 0 1.5625rem;
  }
  .contact .row .options input {
    margin-top: .9375rem;
    margin-bottom: 1.5625rem;
  }
}
/* End Contact Us */
/* Footer */
.footer {
  padding: 5rem 0;
  background-color: black;
  display: flex;
  align-items: center;
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .logo {
  max-width: 100px;
  min-width: 70px;
}
.footer .logo img {
  width: 100%;
}
.footer p {
  color: white;
  text-align: center;
}
.footer .icons {
  margin-left: 1rem;
  display: flex;
}
.footer .icons i {
  font-size: 1.5625rem;
}
.footer .icons a {
  margin-left: 1.5rem;
  text-align: center;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  position: relative;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1200px) {
  .footer .container {
    flex-direction: column;
  }
  .footer .container p {
    margin: 1.25rem 0;
  }
  .footer .container a {
    text-align: center;
  }
}
/* end footer */